<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="tfs2Slack" type="DevCore.Tfs2Slack.Configuration.Tfs2SlackSection, DevCore.Tfs2Slack" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <tfs2Slack>
        <settings
          logfile=""
          stripUserDomain="True"
          commentMaxLength="72"
          maxLines="10" 
          hashLength="7"/>
        <bots>
          <!--
          Multiple bots can be added here, just make sure they have unique names.
          NotifyOn takes a comma-separated list of: None, GitPush, BuildSucceeded, BuildFailed, ProjectCreated, ProjectDeleted, Checkin, All
          SlackChannels takes a comma-separated list of Slack channels.
          -->
          <bot 
            name="default"
            notifyOn="All"
            slackWebhookUrl=""
            slackChannels="#general"
            slackUsername="tfsbot"
            slackIconEmoji=""
            slackIconUrl="https://raw.githubusercontent.com/kria/Tfs2Slack/master/tfsicon.png"
            slackColor="#68217a" />
        </bots>
      <text
        pushFormat="{userName} {pushed} to &lt;{repoUri}|{projectName}/{repoName}&gt;"
        pushed="pushed"
        forcePushed="force-pushed"
        commit="commit"
        refPointer="-&gt;"
        deleted="deleted"
        commitFormat="{action} &lt;{commitUri}|{commitId}&gt; ({changeCounts}) {authorTime} {authorName} - *{comment}*"
        linesSupressedFormat="{count} more line(s) suppressed."
        dateTimeFormat=""
        buildFormat="Build &lt;{buildUrl}|{projectName}/{buildNumber}&gt; finished with status: *{buildStatuses}*."
        projectCreatedFormat="Team Project &lt;{projectUrl}|{projectName}&gt; created."
        projectDeletedFormat="Team Project {projectUri} deleted."
        checkinFormat="{userName} checked in &lt;{changesetUrl}|Changeset {changesetId}&gt; to {projectLinks}: *{comment}*"
        countAddFormat="{count}a"
        countDeleteFormat="{count}d"
        countEditFormat="{count}e"
        countRenameFormat="{count}r"
        countSourceRenameFormat="{count}sr"
        />
      </tfs2Slack>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>