<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="tfs2Slack" type="DevCore.Tfs2Slack.Configuration.Tfs2SlackSection, DevCore.Tfs2Slack" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <tfs2Slack xmlns="http://tempuri.org/Tfs2SlackSection.xsd"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:noNamespaceSchemaLocation="Tfs2Slack.xsd">
        <settings
          logfile=""
          stripUserDomain="True"
          commentMaxLength="72"
          maxLines="10" 
          hashLength="7"/>
        <bots>
          <!--
          Multiple bots can be added here, just make sure they have unique names.
          The slackChannels attribute takes a comma-separated list of Slack channels.
          -->
          <bot
            name="default"
            slackWebhookUrl=""
            slackChannels="#general"
            slackUsername="tfsbot"
            slackIconEmoji=""
            slackIconUrl="https://raw.githubusercontent.com/kria/Tfs2Slack/master/tfsicon.png"
            slackColor="#68217a">
            <eventRules>
              <!--
              Multiple event rules can be added here. 
              The notify attribute of the first (top to bottom) rule that matches, will determine whether a notification is sent or not.
              If no rule matches, no notification will be sent.
              The events attribute takes a comma-separated list of: None, GitPush, BuildSucceeded, BuildFailed, ProjectCreated, ProjectDeleted, 
              Checkin, WorkItemStateChange, WorkItemAssignmentChange, All
              The collection, teamProject, gitRepository and buildDefinition take regex patterns. 
              -->
              <rule events="All" notify="True" collection=".*" teamProject=".*" gitRepository=".*" buildDefinition=".*" />
            </eventRules>
          </bot>
        </bots>
      <text
        pushFormat="{userName} {pushed} to &lt;{repoUri}|{projectName}/{repoName}&gt;"
        pushed="pushed"
        forcePushed="force-pushed"
        commit="commit"
        refPointer="-&gt;"
        deleted="deleted"
        commitFormat="{action} &lt;{commitUri}|{commitId}&gt; ({changeCounts}) {authorTime} {authorName} - *{comment}*"
        linesSupressedFormat="{count} more line(s) suppressed."
        dateTimeFormat=""
        buildFormat="Build &lt;{buildUrl}|{projectName}/{buildNumber}&gt; finished with status: *{buildStatuses}*."
        projectCreatedFormat="Team Project &lt;{projectUrl}|{projectName}&gt; created."
        projectDeletedFormat="Team Project {projectUri} deleted."
        checkinFormat="{userName} checked in &lt;{changesetUrl}|Changeset {changesetId}&gt; to {projectLinks}: *{comment}*"
        changeCountAddFormat="{count}a"
        changeCountDeleteFormat="{count}d"
        changeCountEditFormat="{count}e"
        changeCountRenameFormat="{count}r"
        changeCountSourceRenameFormat="{count}sr"
        changeCountUnknownFormat="{count}u"
        workItemchangedFormat="{userName} updated &lt;{wiUrl}|{projectName}/{wiType} #{wiId}&gt; _{wiTitle}_"
        />
      </tfs2Slack>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>